* {
    font-family: Helvetica, Arial, sans-serif;
}
#header {
    block-size: auto;
    background-image: url('../resources/images/image1.jpeg');
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}    
h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#brushes h2 {
    background-color: mediumspringgreen;
    background-image: url('./resources/images/image2.jpeg');
}
#frames h2 {
    background-color: lightcoral;
    background-image: url('./resources/images/image3.jpeg');
}
#paint h2 {
    background-color: skyblue;
    background-image: url('./resources/images/image4.jpeg');
}
strong {
    font-weight: bold;
    color: blue;
}
